
/* XLarge Screen */
@media (max-width:1170px) {
    .container{
        max-width: 960px;
    }
}

/* Large Screen */
@media (max-width:992px) {

    .container{
        max-width: 720px;
    }

    ul.mane-list li a {
        margin-right: 20px;
        font-size: .9em;
    }

    .canvas-title {
        width: 100%;
    }

    .canvas-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .team-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .about-bg {
        width: 100% !important;
        height: 250px;
    }
        .top-about {flex-direction: column;}
    
    .about-desc-wrapper {
        width: 100%;
        left: 0;
        right: initial;
        padding-top: 80px;
    }

    .work-wrap {grid-template-columns: 1fr 1fr 1fr;}

    .work-desc-wrapper {grid-template-columns: 1fr 1fr;}

    .video-wrap {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .video-box {
        margin-bottom: 25px;
    }


.collection-wrapper {display: flex;}

.collct-sing-box {width: 46%;margin-right: 60px;}

.scrool-box-wrapper {width: 300px;}

.collct-sing-box:last-child {margin-right: 0px;padding: 0;}
.s-great {width: 50%;}

.all-footer-content-wrapper {flex-direction: column;}

.right-content-wrapper {grid-template-columns: 1fr 1fr;}

.footer-social-icon {flex-direction: column;}

.footer-icon {margin-top: 25px;}

}


/* Medium Screen */
@media (max-width:768px) {
    .container{
        max-width: 520px;
    }
    .manu {
        display: block;
        position: absolute;
        top: 90px;
        right: 0px;
        background: #022a59;
        padding: 25px;
        width: 300px;
        transform: scaleY(0);
        transform-origin: top;
        transition: all .3s;
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
}
    
    .head-wrap {position: relative;}
    
    ul.mane-list {flex-wrap: wrap;display: initial;}
    
    ul.mane-list li a {padding: 5px 0px;}

    .menu-icon{display: block;}

    .menu-icon{display: block;}

    .search {
        border: none;
        margin-right: -199px;
    }
    
    .logo {
        border: none;
    }
    
    .menu-icon {
        width: 33px;
    }

    .canvas-title {
        width: 100%;
    }

    .canvas-wrap {
        grid-template-columns: 1fr;
    }

    .team-wrapper {
        grid-template-columns: 1fr;
    }

    .top-about {flex-direction: column;}
    .about-bg {
        width: 100% !important;
        height: 250px;
    }
    
    
    .about-desc-wrapper {
        width: 100%;
        left: 0;
        right: initial;
        padding-top: 80px;
    }

    ul.work-list-manu {flex-direction: inherit;display: grid;grid-template-columns: 1fr 1fr 1fr;}

    ul.work-list-manu li {margin-bottom: 12px;}

    .work-wrap {grid-template-columns: 1fr 1fr;}

    .work-desc-wrapper {grid-template-columns: 1fr 1fr;}

    .video-wrap {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .video-box {
        margin-bottom: 25px;
    }

    .collct-sing-box {width: 100%;margin-bottom: 60px;}

.collection-wrapper {display: grid;}

.collct-sing-box h5 {margin: 0;}

.scrool-box-wrapper {justify-content: initial;}


.great-wrapper {display: grid;}

.s-great {width: 100%;}

.s-great2 {width: 100%;}

.all-footer-content-wrapper {flex-direction: column;}

.right-content-wrapper {grid-template-columns: 1fr 1fr;}

.footer-social-icon {flex-direction: column;}

.footer-icon {margin-top: 25px;}

}


/* Small Screen */

@media (max-width:576px) {

    .container{
        max-width: 90%;
    }
    .manu {
        display: block;
        position: absolute;
        top: 90px;
        left: -27px;
        background: #022a59;
        padding: 25px;
        width: 300px;
        transform: scaleX(0);
        transform-origin: left;
        transition: all .3s;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
    }

    .about-desc-wrapper {overflow: hidden;}

.about-single-box {width: 100%;}

.about-icon {margin-right: 30px;}

.about-box p {width: 100%;}

.menu-icon {margin-left: 60px;}
    
    .head-wrap {position: relative;}
    
    ul.mane-list {flex-wrap: wrap;display: initial;}
    
    ul.mane-list li a {padding: 5px 0px;}

    .menu-icon{display: block;}

    .search {
        border: none;
    }
    
    .logo {
        border: none;
    }

    .canvas-title {
        width: 100%;
    }

    .canvas-wrap {
        grid-template-columns: 1fr;
    }

    .team-single-box {
        width: 100%;
    }

    .team-wrapper {grid-template-columns: 1fr;}
    .top-about {flex-direction: column;}
    .about-bg {
        width: 100% !important;
        height: 250px;
    }
     
     .about-desc-wrapper {
        width: 100%;
        left: 0;
        right: initial;
        padding-top: 80px;
    } 

    .work-wrap {grid-template-columns: 1fr;}
    ul.work-list-manu {flex-direction: column;}
    ul.work-list-manu li {margin-bottom: 10px;}

    .work-desc-wrapper {grid-template-columns: 1fr;}

    .video-wrap {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .video-box {
        margin-bottom: 25px;
    }

    .collct-sing-box {width: 100%;margin-bottom: 60px;}

.collection-wrapper {display: grid;}

.collct-sing-box h5 {margin: 0;}

.scrool-box-wrapper {justify-content: initial;}


.great-wrapper {display: grid;}

.s-great {width: 100%;}

.s-great2 {width: 100%;}

.fotterLogo {width: 270px;margin: auto;}

.all-footer-content-wrapper {display: grid;grid-template-columns: 1fr;align-items: center;}

.right-content-wrapper {grid-template-columns: 1fr;}

.footer-social-icon {flex-direction: column;}

.footer-icon {margin-top: 25px;}

}